body {
    background-color: skyblue;
}

h1 {
    font-size: 100px;
    display: flex;
    align-content: center;
    justify-content: center;
    color: peru;
}

.button {
    display: flex;
   align-content: center;
   justify-content: center;
   padding-bottom: 50px;
}

.img {
    display: flex;
   align-content: center;
   justify-content: center;
}

button {
    cursor: pointer;
}

.paragraph {
    font-size: 20px;
    font-family: monospace;
    text-align: center;
}